/* 769-1399px */

@media(max-width:1440px){

    .catalog_section3{
        padding: 64px 45px 64px 45px;

    }
    .hide1440px{
        display: none;
    }
}

@media(max-width:1275px){
    .section3{
        padding-right: 0;
    
    }
    .section3_cards {
        overflow-x: scroll;
    }

    .section3_card{
        flex-shrink: 0;
    }

}

@media(max-width:1125px){
    .section3{
        row-gap: 72px;
    }
}



@media(max-width:1025px) {
    .burger_header {
        display: block;
    }

    .header_nav {
        background: #05BCCA;
        position: fixed;
        top: 96px;
        left: -100%;
        width: 50%;
        padding: 30px;
        transition: .5s linear;
        width: 256px;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 20px;
    }
    .show {
        left: 0;
    }

    .header_li_text{
        color: #C46A2B;
    }

    .section3 {
        padding-left: 32px;
    }

}


@media (max-width:961px) {
    .grid_item_img,
    .grid_item {
        width: 330px;
        height: 240px;
    }

}


@media (max-width:840px) {
    footer {
        padding: 48px 32px;
    }

    .footer_div {
        column-gap: 149px;
    }
}



































