/* 769-1399px */


@media (max-width: 1025px) {
    .header_nav {
        display: none;
    }

    .burger_header {
        display: block;
    }

    .header_nav {
        background: #05BCCA;
        position: fixed;
        top: 122.4px;
        left: -100%;
        width: 50%;
        padding: 30px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 20px;
    }

    .show {
        left: 0;
    }

    .media_nav {
        column-gap: 16px;
    }

    .section1 {
        padding: 72px 338px 372px 339px;
        background-size: cover;
        background-position: center;
    }
}


@media (max-width:1275px) {
    .section2 {
        padding: 96px 98px;
    }

    .section3 {
        padding: 96px 32px;
    }

}


@media(max-width:1100px) {
    footer {
        padding: 48px 98px;
    }
}

@media (max-width:840px) {
    footer {
        padding: 48px 32px;
    }

    .footer_div {
        column-gap: 149px;
    }
}

@media (max-width:1350px) {

    .catalog_section3 {
        padding-inline: 45px;
    }

    .none1 {
        display: none;
    }
}


@media(max-width:987px) {
    .none2 {
        display: none;
    }

}

@media(max-width:780px) {
    .contact_section1 {
        padding-right: 64px;
    }
}
