/* 320-480px */

@media(max-width:450px){
.catalog_section3{
padding: 40px 16px;
    }
    .hide450px{
        display: none;
    }
}



@media (max-width:400px) {
    header {
        padding: 28px 8px;
    }

    .burger_temp {
        width: 40px;
        height: 40px;

    }

    .media_nav {
        column-gap: 16px;
    }

    .media_nav_styles {
        font-size: 16px;
    }


    .section1 {
        padding: 32px 54px 336px 54px;
        background-size: cover;
        background-position: center;

    }

    .title_div {
        column-gap: 16px;
    }


    .section1_title,
    .collection {
        font-size: 24px;
        line-height: 32px;
    }


    .section3 {
        padding: 32px 0 32px 8px;
    }

}


@media(max-width:375px) {
    .section2 {
        padding: 32px 8px;
    }

    .section2_figcaption{
        font-size: 16px;
        line-height: 24px; 
    }

    .searchbar_email{
        font-size: 12px;
        line-height: 32px;
    }
   
    
}

@media (max-width:370px) {
    .section2 {
        padding: 20px 0;
        column-gap: 15px;
    }

    .grid_item_img,
    .grid_item {
        width: 140px;
        height: 130px;
    }

    .catalog_pages {
        column-gap: 45px;
    }

    .hide370px {
        display: none;
    }

}



















































