.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 86px;
}

/* HOME */

/* Header */
header {
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #012426;
    padding: 16px 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.burger_header,
.xmark {
    display: none;
    font-size: 32px;
    color: #05BCCA;
}

.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li_text {
    color: #A1C3C9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.media_nav {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.media_nav_styles {
    font-size: 24px;
    cursor: pointer;
}

.glass {
    color: #05BCCA;
    background-color: #012426;
    border: none;
}

.user,
.cart {
    border-radius: 8px;
    border: none;
}

.user {
    color: #2C4246;
    background-color: #05BCCA;
    padding: 8px;
}

.cart {
    border: 2px solid #05BCCA;
    background-color: #012426;
    color: #05BCCA;
    padding: 8px;

}

/* Section1 */
.section1 {
    background-image: url(../images/section1_cover.png);
    background-repeat: no-repeat;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 72px;
    background-position: center;
    background-size: cover;

}

.section1_title {
    color: #FFF;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.collection {
    color: #05BCCA;
}

.arrow {
    font-size: 24px;
    border: none;
    color: white;
    border-radius: 4px;
    background: #C46A2B;
}

.title_div {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

/* Section2 */
.section2 {
    display: flex;
    column-gap: 20px;
    padding: 96px 0;
    background-color: #012426;
    padding-block: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

}

.section2_cards1 {
    display: flex;
    column-gap: 20px;
}

.grid_item {
    position: relative;
    width: 404px;
    height: 240px;
    flex-shrink: 0;
}

.grid_item_img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.section2_figcaption {
    color: #F5F5F5;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(0, 0);
}

/* Section3 */
.section3 {
    padding: 96px 94px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.section3_title {
    color: #05BCCA;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}


.section3_cards {
    display: flex;
    column-gap: 20px;
}

.section3_card {
    border: 1px solid #05BCCA;
    background: #2C4246;
    width: 298px;
    height: 400px;
    padding: 8px 8px 16px 8px;
}

.section3_img {
    height: 290px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

.section3_card_title {
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    color: #D9D9D9;

}

.section3_reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars_reviews {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.stars {
    display: flex;
    column-gap: 4px;
}

.fa-star {
    font-size: 16px;
    color: #C46A2B;
}

.section3_minitext {
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #A1C3C9;
}

.price {
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #05BCCA;
}

/* Section4 */
.section4 {
    background-image: url(../images/section4_cover.png);
    height: 320px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 107px;
    background-size: cover;
    background-position: right;
}

.section4_title {
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #05BCCA;
    text-align: center;
}

.searchbar {
    display: flex;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: rgba(44, 66, 70, 0.80);
    display: flex;
    column-gap: 240px;
    cursor: pointer;

}


.searchbar_email {
    background: rgba(44, 66, 70, 0.80);
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: none;
}

.subscribe {
    color: #FFF;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    border-radius: 0px 8px 8px 0px;
    background: #05BCCA;
    padding: 15px 23px 12px 13px;
    display: flex;
    border: none;
    cursor: pointer;

}

/* Footer */
footer {
    background: #2C4246;
    padding: 48px 0;
}

.footer_div {
    display: flex;
    justify-content: center;
    column-gap: 223px;
}

.footer_titles {
    color: #D9D9D9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_nav1_a {
    color: #D9D9D9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.footer_nav2_a {
    color: #FFF;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer_media_nav {
    display: flex;
    column-gap: 16px;
}

.fmedia {
    font-size: 32px;
    color: #D9D9D9;
}

.smedia {
    color: #05BCCA;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    margin-top: 64px;
}

.fa-copyright {
    font-size: 20px;
    color: #D9D9D9;
}


/* CATALOG */

/* Section1
 */
.catalog_section1 {
    display: flex;
    height: 145px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-top: 2px solid #05BCCA;
    background: #1A1A1A;
}

.pages_div {
    display: flex;
}

.pages_div_titles {
    color: #FFF;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    border: 1px solid #05BCCA;
    padding: 18px 24px;
}

.background {
    border: 1px solid #05BCCA;
    background: #A1C3C9;
    color: #2C4246;
}


/* Section2 */
.catalog_section2 {
    background: #012426;
    padding: 96px 94px 0 94px;
}

.catalog_section2_header {
    display: flex;
    justify-content: space-between;
}

.catalog_section2_header_p1 {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.catalog_section2_header_p1_title {
    color: #D9D9D9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.catalog_section2_header_p1_img {
    width: 32px;
    height: 32px;
}

.best_selling {
    display: flex;
    border-radius: 4px;
    background: #A1C3C9;
    column-gap: 33px;
    padding-inline: 8px;
}

.catalog_section2_header_p1_title2 {
    color: #2C4246;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Section3 */
.catalog_section3 {
    background: #012426;
    padding: 64px 94px 64px 94px;
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
    
}

.catalog_section3_card {
    background: #2C4246;
    flex: 1 1 298px;

}

.catalog_section3_img {
    width: 100%;
    height: 298px;
    object-fit: cover;
}

.section3_texts {
    margin: 16px 8px;
}

/* Section4 */
.catalog_pages {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #012426;
    padding-bottom: 96px;
    column-gap: 48px;
}

.catalog_pages_arrows {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-radius: 8px;
    border: none;
    background: #C46A2B;
    padding: 8px;
    color: #D9D9D9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.right {
    background: #05BCCA;
}

.chevron {
    order: 1;
}

.catalog_pages_list {
    color: #FFF;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}



/* CONTACT */
/* Section1 */

.contact_section1 {
    background-image: url(../images/contact_cover.png);
    height: 720px;
    display: flex;
    flex-direction: column;
    padding-right: 94px;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.contact_section1_content {
    width: 616px;
}

.contact_title {
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.contact_info_section {
    column-gap: 228px;
    display: flex;
    width: 100%;
    padding: 35px 40px;
    justify-content: space-between;
    align-items: center;
    background: #2C4246;
}

.contact {
    margin-bottom: 24px;
    display: flex;
    column-gap: 16px;
}

#mobile {
    margin: 0 7px 0 2px;
}

.contact_mobile {
    display: flex;
    align-items: center;
}

.contact_text {
    color: #D9D9D9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.contact_location_img {
    width: 80px;
    height: 80px;
}

/* Section2 */
.contact_section2_div {
    margin-top: 40px;
    width: 290px;

}

.namemail {
    display: flex;
    column-gap: 8px;
    margin-bottom: 16px;
}

.name_mail {
    width: 141px;
    height: 32px;
    background: #2C4246;

}

.message {
    background: #2C4246;
    display: flex;
    width: 100%;
    height: 103px;
    align-items: center;
    resize: none;
}

::placeholder {
    color: #A1C3C9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.send {
    width: 100%;
    height: 40px;
    background: #C46A2B;
    margin-top: 24px;
    border: none;
    color: #FFF;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.infobar {
    display: flex;
    column-gap: 40px;
    width: 100%;
}

.contact_section2_mapmedia {
    color: #C46A2B;
    display: flex;
    flex-direction: column;
    width: 286px;
}

.map {
    width: 100%;
    height: 151px;
    margin: 40px 0 32px;
}

.infobar_media {
    display: flex;
    justify-content: end;
}


/* HOVERS */
.media_nav_styles:hover,
.header_li:hover,
.footer_titles:hover,
.subscribe:hover,
.footer_nav1_a:hover,
.footer_nav2_a:hover {
    text-shadow: 0 0 5px darkblue, 0 0 10px darkblue, 0 0 15px darkblue, 0 0 20px darkblue;
}

.arrow:hover {
    text-shadow: 0 0 5px lightslategray, 0 0 10px lightslategray, 0 0 15px lightslategray, 0 0 20px lightslategray;
}

.media_nav_styles:active,
.arrow:active,
.catalog_pages_arrows:active {
    text-shadow: 0 0 10px rgb(25, 0, 32), 0 0 15px rgb(25, 0, 32), 0 0 20px rgb(25, 0, 32), 0 0 25px rgb(25, 0, 32);
}

.pages_div_titles:hover {
    box-shadow: 0 0 5px lightslategray, 0 0 10px lightslategray, 0 0 15px lightslategray, 0 0 20px lightslategray;
    border-radius: 20px;
}

.fmedia:hover,
.copyhover:hover {
    text-shadow: 0 0 5px rgb(50, 139, 167), 0 0 10px rgb(50, 139, 167), 0 0 15px rgb(50, 139, 167), 0 0 20px rgb(50, 139, 167);

}

.section3_card:hover,
.catalog_section3_card:hover {
    box-shadow: 0px 0px 8px 4px #05BCCACC;
}

.section4_title:hover,
.section3_title:hover,
.footer_titles:hover {
    text-decoration: underline;
}

.send:active,
.subscribe:active {
    color: white;
    text-shadow: 1px 1px 1px #2C4246;
    box-shadow: 5px 5px 10px 0px #a2f1ff;
}

/* Animations */
.burger_temp {
    width: 64px;
    height: 64px;
    animation-name: spinner;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}